<h1>Contacts</h1>


<%= form_for :contacts, url: '/contacts'  do |f| %>
	<p> 
		<%= f.label :email %> <br/>
		<%= f.text_field :email %>
	</p>
	<p>
		<%= f.label :Message %> <br/>
		<%= f.text_area :text%>
	</p>
	<p>
		<%= f.submit %>
	</p>

<% end %>